:root {
  --color-title: #884d0d;
  --color-hover: #d9b21a; 
  --color-enlacehover:#f4d35e;
  --color-nav-hover: #b47927;
  --color_texts: #341a0c;
  --color-primary: #fff;
}

/*PAGINA CATALOGO*/

.nav-link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  z-index: 0;
}

.nav-link.active {
  color: var(--color-nav-hover) !important;
  border-bottom: 3px solid #8c4c2c;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent; 
}

.carousel-indicators button {
  background-color: #fff;
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.hero {
  height: 70vh;
  max-height: 750px;
  overflow: hidden;
  position: relative;
}

.carousel-item img {
  height: 70vh; 
  object-fit: cover;
}

/*HERO*/

.hero-section {
  background: linear-gradient(135deg, #cf942d2e 0%, #cfa22f 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.hero-section h1 {
  color: #4b2e0f; /* Marrón oscuro tipo nogal, elegante y fuerte */
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15); /* Un leve sombreado para mejor legibilidad */
}

.hero-section p {
  font-size: 1.3rem;
  color: var(--color_texts);
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Sombra sutil para que el texto resalte */
}

.hero-catalogo{
    padding-top: 10%;
}

/* Responsive Text Sizes */
@media (max-width: 768px) {
  .hero-title-catalogo {
    font-size: 2.2rem;
  }

  .hero-paragraphhero-catalogo {
    font-size: 1.5rem;
  }

  .hero-catalogo{
    padding-top: 130px;
  }
}

@media (max-width: 768px) {
  #menuLateral .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
}
.img-wrapper {
  position: relative;
  overflow: visible; /* para que no corte la máscara */
}

.img-difuminada {
  max-height: 450px;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 85%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 85%);
}

/*CATALOGO*/

.card-text{
  font-size: 1.3em;
  line-height: 1.6;
  font-weight: normal;
  color: var(--color_texts);
}

.card-subtext{
  font-size: 1em;
}


.card-title{
  color: #884d0d;
}

.card{
  transition: opacity 0.5s ease, transform 0.5s ease;
  border-radius: 8px;
  overflow: visible;
  padding: 5%;
}

.card-img-top {
  width: 100%;
  height: 350px !important;
  object-fit: cover !important;
  object-position: center;
  cursor: pointer;
}

.card-img-top:hover{
  opacity: 1;
}

.linea-division {
  width: 45%;
  height: 2px;
  background-color: #884d0d;
  margin-bottom: 0.75rem;
}

/* BOTONES DE CATALOGO */

.btn { 
  color: var(--color-nav-hover);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover,
.btn:focus {
  background: rgba(243, 198, 19, 0.2); ;
  outline-offset: 2px;
}

.btn-link {
  background-color: transparent !important;
  border: none;
}

.btn-link:hover {
  background-color: transparent !important;
  border: none; 
  color: var(--color-hover);
  text-decoration: none;
}

/*MODAL*/

.gallery-flex {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory; 
}

.gallery-flex img {
  flex: 0 0 auto;
  max-width: 100%;     
  max-height: 530px;   
  border-radius: 10px;
  scroll-snap-align: center;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}


/*POLITICA DE PRIVACIDAD*/

#politica-privacidad h2 {
  color: #6b4c24; /* tono madera */
}

#politica-privacidad h5 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.btn-volver {
  border-radius: 4px !important; /* o el radio que quieras */
  border: none;
  background-color: rgba(217, 178 , 26, 0.5);
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  width: 120px;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background: var(--color-hover);
  color: white;
  border: none;
}