:root {
  --color-title: #884d0d;
  --color-hover: #d9b21a; 
  --color-enlacehover:#f4d35e;
  --color-nav-hover: #b47927;
  --color_texts: #341a0c;
  --color-primary: #fff;
}

/*PAGINA CATALOGO*/

.nav-link {
  color: var(--color-primary);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  z-index: 0;
}

.nav-link.active {
  color: var(--color-nav-hover) !important;
  border-bottom: 3px solid #8c4c2c;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent; 
}

.carousel-indicators button {
  background-color: var(--color-primary);
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.hero {
  height: 70vh;
  max-height: 750px;
  overflow: hidden;
  position: relative;
}

.carousel-item img {
  height: 70vh; 
  object-fit: cover;
}

/*HERO*/

.hero-section {
  background: linear-gradient(135deg, #cf942d2e 0%, #cfa22f 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.hero-section h1 {
  color: #4b2e0f; /* Marrón oscuro tipo nogal, elegante y fuerte */
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15); /* Un leve sombreado para mejor legibilidad */
}

.hero-section p {
  font-size: 1.3rem;
  color: var(--color_texts);
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1); /* Sombra sutil para que el texto resalte */
}

.hero-catalogo{
    padding-top: 10%;
}

/* Responsive Text Sizes */
@media (max-width: 768px) {
  .hero-title-catalogo {
    font-size: 2.2rem;
  }

  .hero-paragraphhero-catalogo {
    font-size: 1.5rem;
  }

  .hero-catalogo{
    padding-top: 130px;
  }
}

@media (max-width: 768px) {
  #menuLateral .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
}

.img-wrapper {
  position: relative;
  overflow: visible; /* para que no corte la máscara */
}

.img-difuminada {
  max-height: 450px;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 85%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 85%);
}

/*CATALOGO*/

.image-wrapper {
  position: relative;
  overflow: hidden; 
  width: 100%;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, filter 0.3s ease;
}

.image-wrapper .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(103, 59, 13, 0.7); 
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.image-wrapper:hover img {
  transform: scale(1.1); /* Zoom suave */
  filter: brightness(0.7); /* Puedes bajar brillo si quieres */
}

.image-wrapper:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.image-wrapper .overlay i {
  color: white;
  font-size: 2rem;
}

.card-text{
  font-size: 1.3em;
  line-height: 1.6;
  font-weight: normal;
  color: var(--color_texts);
}

.card-subtext{
  font-size: 1em;
}

.card-title{
  color: #884d0d;
}

.card{
  transition: 0.5s ease, transform 0.5s ease;
  border-radius: 8px;
  overflow: visible;
  padding: 5%;
}

.card-img-top {
  width: 100%;
  height: 350px !important;
  object-fit: cover !important;
  object-position: center;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 12px 25px rgba(101, 67, 33, 0.5); /* sombra en café claro */
  transform: translateY(-4px);
}

.linea-division {
  width: 45%;
  height: 2px;
  background-color: #884d0d;
  margin-bottom: 0.75rem;
}

/* BOTONES DE CATALOGO */

.btn { 
  color: var(--color-nav-hover);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover,
.btn:focus {
  background: rgba(243, 198, 19, 0.2); ;
  outline-offset: 2px;
}

.btn-link {
  background-color: transparent !important;
  border: none;
}

.btn-link:hover {
  background-color: transparent !important;
  border: none; 
  color: var(--color-hover);
  text-decoration: none;
}

/*MODAL*/

.modal-dialog {
  margin: 0;
  max-width: 100%;
}

.modal-body img {
  max-height: 80%;
  object-fit: contain;
}

.prevBtn, .nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #aaa;            
  font-size: 1.2rem;
  background-color: transparent; /* Sin fondo por defecto */
  border: none;
  transition: color 0.3s; 
}

.prevBtn:hover, .nextBtn:hover{
  color: var(--color-primary);            
}

@media (max-width: 768px) {  /*rectangulo detras de flechas next y prev*/

  .prevBtn::before, .nextBtn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;    
    height: 40px;   
    background-color: rgba(19, 18, 18, 0.2);
    z-index: -1;     
  }

  .prevBtn:hover::before, .nextBtn:hover::before{
    background-color: rgba(255, 255, 255, 0.4);
  }
 
  .prevBtn:hover, .nextBtn:hover {
    color: var(--color-primary);
  }
}

.thumbnail-bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  display: block;
}

.thumbnail-bar::-webkit-scrollbar {
  display: none;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
  padding: 5px 5px;
  flex-wrap: nowrap;
  align-content: center;
  height: 120px;  
}

.thumbnail {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  flex-shrink: 0;
  user-select: none;
  transition: border-color 0.3s;
}

.thumbnail.active {
  border: 2px solid #ffcc00 !important;
}


/*POLITICA DE PRIVACIDAD*/

#politica-privacidad h5 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

#politica-privacidad li {
  font-size: 1.2rem;
}

.btn-volver {
  border-radius: 4px !important; /* o el radio que quieras */
  border: none;
  background-color: rgba(217, 178 , 26, 0.5);
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  width: 120px;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background: var(--color-hover);
  color: white;
  border: none;
}